$color-white: #fff;
$color-black: #000;
$color-red: red;
$color-grey:grey;
$color-btn-bg:#333;
$color-hover-a:#007bff;
$color-border-card:#f0f0f0;
$color-card-star:#FFCB15;
$color-little-btn:#f8f9fa;
$color-little-bg:#6c757d;
$color-hover-bg:#212529;
$color-input-bg:#eae7e7;
$color-footer-input:#666;
$color-footer-word:#3e444a;
$color-hover-btn:#eef0f1;
$color-box-shodow:rgba(0, 0, 0, 0.1);
$color-border-bottom:rgb(247, 196, 196);

